@font-face {
    font-family: "Inter" ;
    src: url("../Fonts/Inter\ Extra\ Bold\ 800.otf") format("truetype");
}
body {
    font-family: "Inter", sans-serif;
    background-color: #121212;
   

}
@keyframes fadeSlideUp {
  0% {
    opacity: 0;
    transform: translateY(30px);
  }   
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

.login-card-animate {
  animation: fadeSlideUp 0.8s ease-out forwards;
}

@keyframes stretchSidesSmooth {
  0% {
    transform: scaleX(0);
    opacity: 0;
  }

  80% {
    transform: scaleX(1);
    opacity: 1;
  }
}

.form-control-animate {
  animation: stretchSidesSmooth 1s ease-in-out forwards;
  transform-origin: center;
}

.form-control::placeholder {
  color: #fff;
  opacity: 50%;
  font-size: medium;
}
.form-control:focus {
  box-shadow: none;
  border-color: #fff;
}

     .password-container {
      position: relative;
      
    }

    #password {
      width: 100%;
      padding: 10px;
      box-sizing: border-box;
      padding-right: 35px; /* Space for the icon */
    }

    #togglePassword {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      color: #555;
    }
    #toggleConfirmPassword {
      position: absolute;
      right: 10px;
      top: 50%;
      transform: translateY(-50%);
      cursor: pointer;
      color: #555;
    }